@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes all day long App</h1>
    <p>Where People are making apocalypse jokes like there's no tomorrow...</p>
</div>
